@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color-red: #f53855;
  --main-color-deep-black: #0b132a;
  --main-color-light-black: #4f5665;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background: #fff;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(248, 248, 248, 0.4);
}
.header-section {
  transition: all 50ms ease-in;
}
.fixed {
  -webkit-box-shadow: 0px 10px 15px -10px rgba(245, 56, 85, 0.1);
  box-shadow: 0px q0px 15px -10px rgba(245, 56, 85, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  background: #fff;
}

.header {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem 2rem 0 2rem;
}

.navbar-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(202, 211, 226);
  transform: translateX(1020%);
  transition: transform 200ms ease-in-out;
}

.open {
  transform: translateX(0%);
}
.hamburger {
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.logo-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--main-color-deep-black);
}
.bold {
  font-weight: 700;
}
.list {
  padding: 0;
  margin: 0;
  margin-top: 4rem;
}
.links {
  color: var(--main-color-light-black);
  display: inline-block;
  font-size: 1.2rem;
  margin: 2rem 0;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}
.active {
  position: relative;
  transition: all 200ms ease-in-out;
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-color-deep-black);
  width: 100%;
  height: 2px;
}

.item {
  text-align: center;
}
.auth-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-header {
  font-size: 1.2rem;
  color: var(--main-color-light-black);
  text-align: center;
  margin-top: 2rem;
  font-weight: 500;
}

.signin {
  margin-bottom: 2rem;
  color: var(--main-color-deep-black);
}
.signin:hover {
  transition: all 300ms ease-in-out;
  color: var(--main-color-red);
}
.signup {
  border: 1px solid var(--main-color-red);
  color: var(--main-color-red);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: box-shadow 200ms ease-in-out;
}
.signup:hover {
  background: var(--main-color-red);
  color: #fff;
  -webkit-box-shadow: 0px 29px 15px -10px rgba(245, 56, 85, 0.2);
  box-shadow: 0px 19px 15px -10px rgba(245, 56, 85, 0.2);
}
/************************************************** hero section ***************************************/
.hero,
.users {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
}

.hero-wrapper {
  margin: 2rem 0;
}
.hero-heading {
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
  margin: 1rem 0;
  color: var(--main-color-deep-black);
}
.hero-paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 1rem 0;
  color: var(--main-color-light-black);
}
.medium {
  font-weight: 500;
}
.text-wrapper {
  max-width: 300px;
  margin: 0 auto;
}
.hero-btn-wrapper {
  margin-top: 4rem;
}
.hero-btn {
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  background: var(--main-color-red);
  color: #fff;
  border-radius: 12px;
  transition: box-shadow 200ms ease-in-out;
}
.hero-btn:hover {
  -webkit-box-shadow: 0px 29px 15px -10px rgba(245, 56, 85, 0.2);
  box-shadow: 0px 19px 15px -10px rgba(245, 56, 85, 0.2);
}
.hero-img {
  margin: 4rem 0;
}
.hero-img-wrapper {
  max-width: 300px;
  margin: 0 auto;
}
.users {
  -webkit-box-shadow: 0px 16px 29px -9px rgba(17, 17, 17, 0.68);
  box-shadow: 0px 6px 19px -6px rgba(192, 192, 192, 0.68);
  margin: 2rem auto;
}
.users-wrapper {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  justify-content: space-evenly;
  flex-direction: row;
}

.users-box {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
}
.users-box + .users-box {
  margin-left: 1rem;
}

.users-img + .users-text {
  margin: 0 1rem;
}
.user-bold {
  color: var(--main-color-deep-black);
  font-weight: 700;
  font-size: 1.5rem;
}
.user-regular {
  color: var(--main-color-light-black);
  text-transform: capitalize;
  font-size: 1rem;
}
.users-img {
  width: 24px;
}

/************************************************** hero section ***************************************/

/************************************************** features section ***************************************/
.features {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
}
.features-svg {
  max-width: 300px;
  margin: 0 auto;
}
.features-svg svg {
  max-width: 300px;
  margin: 0 auto;
}
#stars2 {
  transition: all 300ms ease-in-out;
  animation: changeColor 3s infinite alternate;
}
#stars1 {
  transition: all 300ms ease-in-out;
  animation: changeColor 3s infinite alternate;
}
#love {
  animation: changeColor 3s infinite alternate;
  transition: all 300ms ease-in-out;
}

@keyframes changeColor {
  0% {
    stroke: var(--main-color-red);
    stroke-width: 0.1rem;
  }
  50% {
    stroke-width: 0.15rem;
    stroke: #ffa400;
  }

  100% {
    stroke-width: 0.2rem;
    stroke: #ca1d8b;
  }
}

.features-text {
  max-width: 300px;
  margin: 0 auto;
}
.features-medium {
  color: var(--main-color-deep-black);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
}
.features-regular {
  color: var(--main-color-light-black);
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 2rem 0;
}
.features-group {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
}
.features-medium-sm {
  color: var(--main-color-light-black);
  font-size: 1.2rem;
  line-height: 2rem;
}
div + p {
  margin-left: 0.5rem;
}

/************************************************** features section ***************************************/

/************************************************** plans section ***************************************/

.plans {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.plans-group {
  border: 2px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 3rem;
  max-width: 300px;
  margin: 2rem auto;
  border-radius: 5px;
  transition: border 200ms ease-in-out;
}
.plans-group:hover {
  border: 2px solid var(--main-color-red);
}
.plans .light {
  font-weight: 400;
  color: var(--main-color-light-black);
}
.plans-img {
  max-width: 150px;
  margin: 0 auto;
}
.plans-group .features-group {
  justify-content: center;
}

.plans-group .features-medium-sm {
  flex-basis: 100%;
  text-align: left;
}
.plans-user-bold {
  color: var(--main-color-deep-black);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 2rem 0;
}
.plans-links {
  margin-top: 5rem;
}
.plans-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plans-links .user-bold {
  margin: 1rem;
}
.plans-btn {
  border: 1px solid var(--main-color-red);
  color: var(--main-color-red);
  padding: 1rem 4rem;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.plans-btn:hover {
  background: var(--main-color-red);
  color: #fff;
  -webkit-box-shadow: 0px 29px 15px -10px rgba(245, 56, 85, 0.2);
  box-shadow: 0px 19px 15px -10px rgba(245, 56, 85, 0.2);
}

/************************************************** plans section ***************************************/
/************************************************** maps section ***************************************/
.maps {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.maps-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.maps-svg {
  max-width: 300px;
  height: 200px;
  margin: 0 auto;
}

.maps-svg svg {
  max-width: 300px;
  height: 200px;
  margin: 0 auto;
  cursor: pointer;
  fill: #ca1d8b;
}
.maps-svg svg:hover {
  fill: #ca1d8b;
}
.companies {
  display: none;
}

/************************************************** maps section ***************************************/
/************************************************ testimonies section ***************************************/
.testimonies {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
}
.testimonies .features-medium,
.features-regular {
  text-align: center;
}

.person {
  padding: 1rem;
  line-height: 2rem;
  border: 2px solid var(--main-color-light-black);
  margin: 0 auto 2rem auto;
  border-radius: 5px;
  transition: border 300ms ease-in-out;
  max-width: 400px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.person:hover {
  border: 2px solid var(--main-color-red);
}
.person img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid var(--main-color-red);
}
.profile-name .name {
  color: var(--main-color-deep-black);
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.location,
.profile-rating {
  color: var(--main-color-light-black);
  font-size: 1.2rem;
  text-transform: capitalize;
}
.profile-group,
.profile-star {
  display: flex;
  align-items: center;
}
.profile-img + .profile-name {
  margin-left: 1rem;
}
.profile-rating + .profile-svg {
  margin-left: 1rem;
}
.profile-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.testimonies-btn-group {
  display: flex;
  align-items: center;
}
.left + .right {
  margin-left: 1rem;
}
.left,
.right {
  padding: 0.5rem;
  border: 1px solid var(--main-color-red);
  border-radius: 20px;
  transition: all 300ms ease-in-out;
  color: var(--main-color-red);
  cursor: pointer;
}
.left:hover,
.right:hover {
  background-color: var(--main-color-red);
  color: #fff;
}
.testimonies-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}

#left,
#right {
  font-size: 2rem;
  display: grid;
  place-items: center;
}
.buttons {
  display: flex;
  align-items: center;
}
.rounded-btn + .rounded-btn {
  margin-left: 1rem;
}
.rounded-btn {
  background-color: #dde0e4;
  height: 15px;
  width: 15px;
  cursor: pointer;
  border-radius: 100px;
  transition: all 200ms ease-in-out;
}
.activer-btn {
  background: var(--main-color-red);
  width: 45px;
}
.subscribe {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  background: #fff;
}

.subscribe-wrapper .hero-btn-wrapper .hero-btn {
  font-size: 1.4rem;
}

/*********************************************** testimonies section ***************************************/
/*********************************************** footer section ***************************************/
.footer {
  max-width: 1140px;
  line-height: 3rem;
  padding: 0 2rem;
  font-size: 1.2rem;
}
.footer-items p {
  color: var(--main-color-deep-black);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer-link li {
  color: var(--main-color-light-black);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.footer-link li:hover {
  color: var(--main-color-red);
}

.social {
  font-size: 1.5rem;
  color: var(--main-color-red);
  display: flex;
  align-items: center;
}
.social-box + .social-box {
  margin-left: 1rem;
}
.social-box {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 29px 15px -10px rgb(185, 185, 185, 0.1);
  box-shadow: 0px 15px 15px -11px rgb(185, 185, 185, 0.1);
}
.footer-header .logo {
  justify-content: right;
}

/*********************************************** footer section ***************************************/

@media only screen and (min-width: 700px) {
  .header {
    padding: 2rem 2rem 0 2rem;
  }

  .navbar {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .navbar-1 {
    display: block;
  }

  .navbar-2 {
    position: relative !important;
    background: transparent;
    transform: translateX(0%);
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list {
    display: flex;
    margin: 0;
  }
  .links {
    font-size: 1.2rem;
    margin: 0 2rem;
    transition: all 300ms ease-in-out;
    color: var(--main-color-light-black);
  }
  .links:hover {
    color: var(--main-color-red);
  }

  .hamburger {
    display: none;
  }
  .auth-group {
    flex-direction: row;
    padding-left: 3rem;
  }

  .btn-header {
    font-size: 1.2rem;
    margin: 0;
  }

  .signin {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .signup {
    border: 1px solid var(--main-color-red);
    color: var(--main-color-red);
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
  }
  /************************************************** hero section ***************************************/

  .hero {
    padding: 2rem;
  }

  .hero-wrapper {
    margin: 2rem 0;
  }

  .hero-heading {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 5rem;
  }

  .hero-paragraph {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .text-wrapper {
    max-width: 470px;
    margin: 0 auto;
  }

  .hero-btn-wrapper {
    margin-top: 4rem;
  }

  .hero-btn {
    font-weight: 700;
    line-height: 2.5rem;
    font-size: 1.4rem;
  }
  .hero-btn:hover {
    -webkit-box-shadow: 0px 29px 15px -10px rgba(245, 56, 85, 0.2);
    box-shadow: 0px 29px 15px -10px rgba(245, 56, 85, 0.2);
    transition: box-shadow 200ms ease-in-out;
  }
  .hero-img {
    margin: 4rem 0;
  }

  .hero-img-wrapper {
    max-width: 470px;
    margin: 0 auto;
  }

  .users-box {
    line-height: 3rem;
  }

  .users-img + .users-text {
    margin: 0 2rem;
  }

  .user-bold {
    font-size: 2rem;
  }

  .user-regular {
    font-size: 1.5rem;
  }

  .users-img {
    width: 36px;
  }

  /************************************************** hero section ***************************************/

  /************************************************** features section **************************************/

  .features-wrapper {
    display: flex;
    align-items: center;
  }

  /************************************************** features section **************************************/
  .plans-group-lists {
    display: flex;
    max-width: 1090px;
    align-items: center;
    justify-content: center;
  }
  .plans-group {
    padding: 2rem 3rem;
    max-width: 400px;
    margin: 2rem auto;
    border-radius: 5px;
    transition: border 200ms ease-in-out;
  }
  .plans-btn {
    font-size: 1.2rem;
    padding: 1rem 4rem;
    border-radius: 40px;
  }
  /************************************************** maps section ***************************************/
  .maps-svg {
    max-width: 670px;
    height: 300px;
    margin: 6rem auto 3rem auto;
  }

  .maps-svg svg {
    max-width: 670px;
    height: 300px;
  }
  .companies {
    display: block;
    margin: 2rem 0;
  }

  /************************************************** maps section ***************************************/

  .testimonies {
    margin: 4rem auto;
  }
  .profile-name .name {
    font-size: 1.6rem;
  }

  .location,
  .profile-rating {
    font-size: 1.4rem;
  }
  .profile-text {
    margin: 0;
    font-size: 1.4rem;
  }
  .person {
    padding: 1.5rem;
    line-height: 3rem;
  }
  .subscribe {
    margin: 2rem auto;
  }
  .subscribe-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
  }

  .subscribe-wrapper .hero-btn-wrapper {
    margin: 0;
  }

  .subscribe-wrapper .features-regular {
    margin: 2rem 0 0 0;
    text-align: left;
  }
  /*********************************************** footer section ***************************************/
  .footer {
    font-size: 1.4rem;
  }
  .footer-lists {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .footer-items p {
    font-size: 1.6rem;
  }
  .social {
    font-size: 1.75rem;
  }
  .social-box {
    width: 40px;
    height: 40px;
  }

  /*********************************************** footer section ***************************************/
}

@media only screen and (min-width: 1000px) {
  .header {
    padding: 2rem 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-group {
    transform: translateX(-30%);
  }
  .links {
    font-size: 1.6rem;
  }
  .btn-header {
    font-size: 1.5rem;
  }
  .logo-text {
    font-size: 1.8rem;
  }

  .signup {
    padding: 1rem 3rem;
    border-radius: 20px;
    margin-left: 1rem;
  }
  /************************************************** hero section ***************************************/
  .hero {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-wrapper {
    margin: 2rem 0;
  }

  .text-wrapper {
    max-width: 550px;
    margin: 0 auto;
  }

  .hero-heading {
    font-weight: 500;
    font-size: 5rem;
    line-height: 7rem;
  }

  .hero-paragraph {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .hero-btn {
    line-height: 2.5rem;
    font-size: 1.6rem;
    border-radius: 12px;
    padding: 1.75rem 7.75rem;
  }

  .users-img + .users-text {
    margin: 0 2rem;
  }

  .user-bold {
    font-size: 2.5rem;
  }

  .user-regular {
    font-size: 2rem;
  }

  .users-img {
    width: 56px;
  }
  /************************************************** hero section ***************************************/

  /************************************************** features section **************************************/
  .features {
    margin: 4rem auto;
    padding: 2rem 0;
  }
  .features-svg {
    max-width: 470px;
    margin: 0 auto;
  }

  .features-svg svg {
    max-width: 470px;
    margin: 0 auto;
  }

  .features-text {
    max-width: 470px;
    margin: 0 auto;
  }

  .features-medium {
    color: var(--main-color-deep-black);
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;
  }

  .features-regular {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .features-medium-sm {
    font-size: 1.4rem;
    line-height: 3rem;
  }

  /************************************************** features section **************************************/

  .plans-group {
    padding: 5rem 7rem;
    max-width: 400px;
    margin: 2rem auto;
    border-radius: 5px;
    transition: border 200ms ease-in-out;
  }

  .plans-btn {
    margin-top: 2rem;
    font-size: 1.6rem;
    padding: 1.5rem 6.3rem;
    border-radius: 40px;
  }
  /************************************************** maps section ***************************************/
  .maps-svg {
    max-width: 1000px;
    height: auto;
    margin: 12rem auto 3rem auto;
  }

  .maps-svg svg {
    max-width: 1000px;
    height: 400px;
  }

  /************************************************** maps section ***************************************/
  .profile-name .name {
    font-size: 1.8rem;
  }
  /*********************************************** footer section ***************************************/
  .footer {
    font-size: 1.4rem;
    padding: 8rem 0rem 8rem 0;
    margin: 0 auto;
  }
  .footer-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .footer .hero-paragraph {
    max-width: 400px;
  }
  .footer-lists {
    justify-content: space-between;
  }
  .footer-items + .footer-items {
    margin-left: 10rem;
  }
  .footer-lists .footer-items {
    flex-basis: 100%;
  }
  .footer-items p {
    font-size: 1.6rem;
  }

  .social {
    font-size: 2rem;
  }

  /*********************************************** footer section ***************************************/
}
